Task 3/PL_IncrementalLoad_support_live/pipeline/PL_IncrementalLoad.json
{
    "name": "PL_IncrementalLoad",
    "properties": {
        "activities": [
            {
                "name": "GetWatermark",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT ISNULL(MAX(LastModified), '1900-01-01') AS LastModified FROM Customers\n",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_Dest_Customers",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "CopyNewData",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "GetWatermark",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT * FROM Customers WHERE LastModified > '@{activity('GetWatermark').output.firstRow.LastModified}'\n",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "writeBehavior": "upsert",
                        "upsertSettings": {
                            "useTempDB": true,
                            "keys": [
                                "CustomerID"
                            ]
                        },
                        "sqlWriterUseTableLock": false,
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_Source_Customers",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_Dest_Customers",
                        "type": "DatasetReference"
                    }
                ]
            }
        ],
        "annotations": []
    }
}